name: Actionlint

on:
    workflow_call:

jobs:
    actionlint:
        name: Actionlint
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

            - name: Run actionlint
              uses: raven-actions/actionlint@3a24062651993d40fed1019b58ac6fbdfbf276cc # v2
