name: Add to project
on:
    workflow_call:
        inputs:
            project-url:
                type: string
                required: false
                description: "GitHub Project URL"
                default: "https://github.com/orgs/RubberDuckCrew/projects/1"

jobs:
    add-to-project:
        name: Add issue to project
        runs-on: ubuntu-latest
        steps:
            - name: Check if secrets are available
              id: check-secrets
              run: |
                  echo "secrets_available=${{ vars.RUBBERDUCKCREW_BOT_APP_ID && secrets.RUBBERDUCKCREW_BOT_APP_PRIVATE_KEY && 'true' || '' }}" >> "$GITHUB_OUTPUT"

            - name: Create GitHub App token
              uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
              if: ${{ steps.check-secrets.outputs.secrets_available }}
              id: app-token
              with:
                  app-id: ${{ vars.RUBBERDUCKCREW_BOT_APP_ID }}
                  private-key: ${{ secrets.RUBBERDUCKCREW_BOT_APP_PRIVATE_KEY }}

            - name: Add to project
              uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
              if: ${{ steps.app-token.outputs.token }}
              with:
                  project-url: ${{ inputs.project-url }}
                  github-token: ${{ steps.app-token.outputs.token }}
